Body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;

}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
h1 {
  color: #66BFBF;
  font-size: 10.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: bold ;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: 15px dotted #EAF6F6;;
  border-bottom: none;
  width: 10%;
  color: #EAF6F6;
  margin: 100px auto;
}

.Bengs {
  width: 30%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  position: relative;
  text-align: left;
  line-height: 4;
}

.Skill1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Skill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Top-Container {
  background-color: #E4F9F5;
  position: relative;
  display: block;
  padding-top: 100px;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.hustle {
  width: 40%;
  margin: 40px auto 60px;
}
.footer-link {
  margin: 10px 20px;
  Color: #11999E;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;


}
.Copyright {
  padding: 30px;
  color:#EAF6F6;
  font-size: 0.75rem;
}

.classname {
	background-color:#11cdd4;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	border:1px solid #11cdd4;
	display:inline-block;
	color:#ffffff;
	font-family:'Merriweather', serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #2f6627;
  margin-bottom: 40px;
}.classname:hover {
	background-color:#11999e;
}.classname:active {
	position:relative;
	top:1px;
}
